{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome page</title>
    <link rel="stylesheet" href="{% static 'css/accueil.css' %}">
</head>
<body>
    <!-- Barre de navigation -->
    <div class="navbar">
        <a href="#" class="logo">
            <img src="{% static './image/emblem.png' %}" alt="Logo"> ELECAM
        </a>
        <div class="nav-links">
            <a href="login/">se connecter</a>
            <a href="#about">À propos</a>
            <a href="#contact">Contact</a>
        </div>
    </div>

    <!-- Espacement pour la barre de navigation fixe -->
    <div class="spacer"></div>

    <!-- Bannière principale -->
    <div class="banner">
        <div class="container">
            <h1>Bienvenue sur le la plate forme d'élection du cameroun </h1>
           
           
            <p>connectez vous pour pouvoire decouvrir la liste des andidat et réaliser un vote</p>
        </div>
    </div>

    <!-- Section Services -->
    <div class="section" id="services">
        <div class="container">
            <h2>Nos Services</h2>
            <a href="https://www.elecam.cm/?q=fr/actualit%C3%A9s/grands-titres">actualité</a> <br>
            <a href="https://www.elecam.cm/?q=fr">blog</a>
        </div>
    </div>

    <!-- Section À propos -->
    <div class="section dark" id="about">
        <div class="container">
            <h2>À propos de nous</h2>
            <p>Nous sommes une équipe de professionnels dévoués qui s'engagent à fournir les meilleures solutions pour nos clients. Notre objectif est de vous aider à réussir dans vos projets.</p>
           
        </div>
    </div>

    <!-- Section Contact -->
    <div class="section" id="contact">
        <div class="container">
            <h2>Contactez-nous</h2>
            <p>Pour toute question ou demande de renseignements, n'hésitez pas à nous contacter. Nous sommes là pour vous aider !</p>
            <p>B.P/PoBox Yaounde TEL/FAX: (237)222 21 25 52/222 21 25 39 <br>
                EMAIL: <a href="elecam@gmail.cm">elecam@gmail.cm</a> <br>
                <a href="https://www.elecam.cm/?q=fr/contact"> nous contacter</a>

            </p>
        </div>
    </div>

    <!-- Pied de page -->
    <div class="footer">
        <div class="container">
            &copy; 2024 ELECAM. Tous droits réservés.
        </div>
    </div>
</body>
</html>
