<!-- product_detail.html -->

{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails |{{candidat.nom}} </title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

    <style>
        .background-image {
    background-image: url('{{candidat.image.url}}');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    </style>
</head>
<body>
    <div class="background-image">
        <div class="overlay">
            <div class="container">
                <h1>Détails du Produit</h1>
                <div class="product-details">
                    <div class="product-info">
                        <img src="{{candidat.image.url}}" alt="{{ candidat.nom }}" class="product-image">
                        <h2 class="product-title">NOM: {{ candidat.nom }}</h2>
                       
                        <h2 class="product-title">PRENOM: {{ candidat.prenom }}</h2>
                        <h2 class="product-title">PARTI: {{ candidat.parti }}</h2>
                        <p class="product-description"> DESCRIPTION: {{ candidat.desciption }}</p>
                        <a href="candidat/" class="buy-button">retour</a>
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



